.pluris-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.pluris-logo-container {
    margin: 0;
    margin-bottom: 2em;
    margin-top: 5em;
    border-top: 1px solid #142530;
}

.pluris-logo-about {
    height: auto;
    width: 15rem;
    opacity: 0.89; 
}

.home-logo-about {
    width: 100%;
    height: auto;
}

.header-title{
    font-size: 2em;
    color:  #142530;
    opacity: 0.8;
    margin-top: 2em;
    margin-bottom: 2em;
}

@media (min-width: 62em) {
    .main-text {
        font-size: 1.5em;
    }
}