.contact-container {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #fff;
    opacity: 0.8;
    border-top-right-radius: 120px;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

.contact-title-container {
    width: 15rem;
    border-top: 1px solid #152431;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4rem;
    margin-top: 4em;
    overflow: hidden;
}

.title-contact {
    margin: 0;
    font-size: 2em;
    color: #152431;
    opacity: 0.8;
}

.subtitle-contact {
    margin: 0;
    color: #152431;
    opacity: 0.8;
}

.form-container {
    margin: 0;
    padding: 0;
}


.form-container form input{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 1px solid #152431;   
    text-align: center;
    width: 80%;
}

.email-name {
    margin: 0;
    height: 5.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.message-box-container {
    margin-top: 2em;
}

.message-box {
    height: 10rem;
    width: 20rem;
    border: 1px solid #152431;  
}

.input-text {
    margin: 0 ;
    padding: 10px 28px 10px 28px;
}

::placeholder {
    color: #152431;
    opacity: 0.8;
    font-family: "Poppins";
    font-size: 0.9em;
}

.button {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    margin-bottom: 12rem;
}

.submit {
    padding: 10px 30px 10px 30px;
    border-radius: 18px;
    border: none;
    background-color: #152431;
    color: #fff;
    margin: 0;
    font-family: "Poppins";
}


@media (min-width: 62em) {

    .contact-container {
        border-top-right-radius: 400px;
    }

    .contact-title-container {
        width: 50rem;
        border-top: 1px solid #152431;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 6em;
        margin-top: 8em;
        overflow: hidden;
    }
    
    .title-contact {
        margin: 0;
        font-size: 2em;
        color: #152431;
        opacity: 0.8;
        margin-top: 0.5em;
    }
    
    .subtitle-contact {
        margin: 0;
        color: #152431;
        opacity: 0.8;
        margin-left: 2em;
    }
}