* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    max-width: 100vw;
    max-height: 100vh;
}


.navbar-container {
    position: absolute;  /* pos: fixed if i want nav bar to scroll with */
    top: 0;
    margin: 0;
    width: 100%;
    height: 12vh;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    
}

.navbar svg {
    margin-top: 1.5em;
}

.navbar-links {
    margin-right: 3rem;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
    margin: 1rem;
}

.navbar-links li a {
    text-decoration: none;
    color: #142530;
    opacity: 0.8;
    margin: 1.5rem; 
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
}

.navbar-links-mobile {
    display: none;
}


.toggle-button {
    position: absolute;
    top: 30px;
    right: 1.5rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 25px;
}


.toggle-button .bar {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background-color: #002A39;
    border-radius: 6px;
    z-index: 1;
    transform-origin: 0 0;
    transition: 0.4s;
}

.toggle-button:hover span:nth-child(2) {
    transform: translateX(10px);
}

.toggle-button.is-active span:nth-child(1) {
    transform: translate(0px, -2px) rotate(45deg);
}

.toggle-button.is-active span:nth-child(2) {
    opacity: 0;
    transform: translateX(15px);
}

.toggle-button.is-active span:nth-child(3) {
    transform: translate(-3px, 3px) rotate(-45deg);
}

.container {
    box-sizing: border-box;
    background-image: url("../images/bg.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
    border-bottom-right-radius: 3000px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    
}




.arrow-container {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 12rem;
}

.line-container {
    width: 4px;
    height: 44px;
    position: relative;
    margin-bottom: 100px;
}

.line {
    position: absolute;
    width: 4px;
    height: 0px;
    background-color: #333a4d;
    top: 0;
    bottom: initial;
    animation: line-animation 2.5s ease-in-out 0s infinite normal; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 3px;
}

.line::before {
    content: ' ';
    width: 18px;
    height: 18px;
    border-right: 4px solid #333a4d;
    border-bottom: 4px solid #333a4d;
    transform: rotate(45deg);
    display: block;
    position: absolute;
    bottom: 0;
    animation: arrow-animation 2.5s ease-in-out 0s infinite normal; 
}

@keyframes line-animation {
    0% {height: 0px; top: 0px; opacity: 0;}
    50% {height: 55px; top: 0px; opacity: 1;}
    100% {height: 0px; top: 55px; opacity: 0;}
}

@keyframes arrow-animation {
    0% {opacity: 0}
    50% {opacity: 1}
    100% {opacity: 0}
}



@media (max-width: 63rem) {

    .container {
        background-image: url("../images/bg-mobile.jpg");
        background-size: cover;
        background-position: center;
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-bottom-right-radius: 0px;
        overflow: hidden;
    }


    .toggle-button {
        display: flex;
        margin-top: 1em;
        margin-right: 1em;

    }

    .toggle-button .bar {
        margin: 0 auto;
        display: block;
        width: 40px;
        height: 4px;
        position: relative;
        background-color: #D4C5B6;
        border-radius: 6px;
        z-index: 1;
        transform-origin: 0 0;
        transition: 0.4s;
    }
    
    .navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links {
        display: none;
    }


    .navbar-links-mobile ul {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin: 0;
        padding: 0;
    
    }

    .navbar-links-mobile ul li {
        text-align: center;
        z-index: 1;
        border-bottom: 1px solid #D4C5B6;
        padding-left: 4em;
        padding-right: 4em;
        margin: 2em;
        list-style: none;
    }

    .navbar-links-mobile ul li a {
        font-size: 2rem;
        color: #D4C5B6;
        text-decoration: none;
    }

    .navbar-links.active {
        display: none;
    }

    .navbar-links-mobile.active {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background-color:#162431;
        opacity: 0.90;
        width: 100vw;
        height: 85vh;
    }

    .navbar svg {
        margin: 2em;
        width: 4.2em;
        height: 4.2em;
    }

    .navbar svg path{
        fill: #D4C5B6;
    }

    .arrow-container {
        display: none;
    }

    .arrow-container.active {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .line {
        position: absolute;
        width: 4px;
        height: 0px;
        background-color: #D4C5B6;
        top: 0;
        bottom: initial;
        animation: line-animation 2.5s ease-in-out 0s infinite normal; 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        border-radius: 3px;
    }

    .line::before {
        content: ' ';
        width: 18px;
        height: 18px;
        border-right: 4px solid #D4C5B6;
        border-bottom: 4px solid #D4C5B6;
        transform: rotate(45deg);
        display: block;
        position: absolute;
        bottom: 0;
        animation: arrow-animation 2.5s ease-in-out 0s infinite normal; 
    }
}