body {
    font-family: "Poppins", sans-serif;
}


.thanks-container {
    height: 100vh;
    max-width: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}

.return-btn {
    text-decoration: none;
    list-style: none;
    background-color: #142530;
    color: #fff;
    padding: 10px 15px 10px 15px;
    border-radius: 20px;
    font-size: .8em;
}

.header {
    margin: 0.25rem 0;
    font-size: 2.5rem;
}

p {
    margin: 0.5rem 0;
    font-size: 22px;
}


   /* animation class and keyframes */

.drop-in {
    animation: drop-in 1s ease 200ms backwards;
}

.drop-in-2 {
    animation: drop-in 1200ms ease 500ms backwards;
}

@keyframes drop-in {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }
    to {
        opacity: 1;
        transform: translate(0px);
    }
}
